html {
  scroll-padding-top: 110px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ece7de;
}

::-webkit-scrollbar-thumb {
  background: #b7b09f;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9f9887;
}