.header__nav {
  display: none;
}

@media (min-width: 1200px) {
  .header__nav {
    display: block;
  }
}

.header__menu-item {
  position: relative;
}

.header__menu-link {
  position: relative;

  padding-block: 8px;

  color: var(--color-text);
  font-weight: 500;
  line-height: 1;

  transition:
    color 0.25s ease,
    opacity 0.25s ease;
}

.header__menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;

  width: 100%;
  height: 1px;

  background-color: var(--color-primary);

  transform: scaleX(0);
  transform-origin: left;

  transition: transform 0.3s ease;
}

.header__menu-link:hover::after,
.header__menu-link:focus-visible::after {
  transform: scaleX(1);
}

.header__menu-link:hover,
.header__menu-link:focus-visible {
  color: var(--color-primary);
}

.header__menu-link[aria-current="page"] {
  color: var(--color-primary);
}